.header,
.recipes {
  background-image: url("../public/nutrition_header.jpg");
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: -2px -2px 0 #820d5c, 1px -1px 0 #820d5c, -1px 1px 0 #820d5c,
    1px 1px 0 #820d5c;
  padding: 25px 5px;
}

.title {
  font-size: 75px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
}

.navLink {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
}

.searchbar {
  width: 600px;
}

input {
  width: 50%;
  border: 2px solid #820d5c;
}

.searchbtn {
  border: 2px solid #820d5c;
  background-color: #c9b2b8;
  color: white;
  text-shadow: -1px -1px 0 #820d5c, 1px -1px 0 #820d5c, -1px 1px 0 #820d5c,
    1px 1px 0 #820d5c;
}

.img {
  width: 200px;
  height: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #820d5c;
  width: 260px;
  height: auto;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  padding: 30px 5px;
}

.maincontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
